<h3> Grafico de Seguimiento del Proceso de Compras</h3>

<!DOCTYPE html>
<html>
    <head>
        <title>Bar char</title>

        <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous"></script>
         <script src="https://code.highcharts.com/highcharts.src.js"></script>
         <% if  param1.length<20 %>
            <% @vanc=400 %>
         <% else %>
           <% @vanc=param1.length*22 %>
         <% end %>

         <div id="container" style="min-width: 310px; max-width: 900px; height:<%= @vanc%>px; margin: 0 auto"></div>


    </head>

    <body>

        <script>
        $(function () {

          var myChart = Highcharts.chart('container', {
                chart: {
        type: 'bar'
    },
    title: {
        text: '<%= param20 %>'
    },
    xAxis: [{
        categories:<% nn=param1.length %>
<% conta=0 %>
 [
<%while nn>conta do%>

<%if conta==0 then%>
   "<%=param1[0] %>"
<% else %>
,"<%=param1[conta] %>"
<% end %>
<%conta=conta+1 %>
<% end %>
]
    },
    {
        title: {
          text:"<%=conta%>"+'-Procesos'
        },
        min:1,
        max:<%=conta%>,
        opposite: true,

    }
  ],
    yAxis: {
        min: 2,
        title: {
            text: 'Seguimiento desde inicio de año hasta la fecha (dias)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    legend: {
        reversed: true
    },
    tooltip: {
          valueSuffix: ' dias'
      },
    plotOptions: {
        series: {
            stacking: 'true'
        }
    },
    series: [
        {
        name: 'CANCELACION',
        data: <%= param12%>
        },
        {
        name: 'A DESIERTO',
        data: <%= param11%>
        },
        {
        name: 'DESIERTO',
        data: <%= param10%>
        },
        {
        name: 'FC',
        data: <%= param9%>
        },
        {
        name: 'CONSENTIDO',
        data: <%= param8%>
        },
        {
        name: 'BPRO',
        data: <%= param7%>
        },
        {
        name: 'PROPUESTAS',
        color: 'rgba(255,0,0)',
        data: <%= param6%>
        },
        {
        name: 'CONVOCADO',
        color: 'rgba(0,255,0,0.9)',
        data: <%= param5%>
        },
        {
        name: 'PREVIO',
        color: 'rgba(255,0,255,0.8)',
        data: <%= param4%>
        },
        {
        name: 'EPOM',
        color: 'rgba(255,255,0,0.8)',
        data: <%= param3%>
        },

       {
        name: 'INICIO',
        color: 'rgba(0,0,0,0.1)',
        data:  <%= param2%>
       }
  ]
})
});


        </script>

    <div id="container"></div>
    </body>
</html>
